:root {
  font-size: 17px;
  overflow-x: hidden;
  height: 100%;
}

body,
main {
  height: 100%;
}

* {
  /* Rest margin, padding  and box-sizing */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
